<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDatGYoy08ysuGjtJNOE9u8B6v679vsw0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1028898398223</string>
	<key>GoogleAppID</key>
	<string>1:1028898398223:ios:ad955fb3be0604fec7037a</string>
	<key>GIDClientID</key>
	<string>1028898398223-hp2jg1hccf1a5pqs08tp1vc1isu4c350.apps.googleusercontent.com</string>
	<key>PROJECT_ID</key>
	<string>spotifyclone-c0f1d</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Spotifyclone App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Spotify Clone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1028898398223-1vr3a27771ffg6n4lhlhvr3tl84djb6q</string>
				<string>spotifycloneApp.emrekirik.com</string>
				<string>spotifyclone</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Bu uygulama, sesli arama yapabilmek için mikrofon erişimine ihtiyaç duyar.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fotoğraf galerisine erişmek için izin gerekiyor.</string>
	<key>NSCameraUsageDescription</key>
	<string>Kamera erişimi için izin gerekiyor.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Apple ile oturum açmak için izin gerekiyor.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
